@CHARSET "UTF-8";
.wra1{
	background:#f4f4f4;
}
.head{
	padding-top:20px;
	border:5px solid white;
	border-radius:12px;
	background:white;
	width:100%;
}
.divul{
	width:100%;
	height:40px;
}
.ul1{ 
	list-style-type:none;
}
.li1 {
	margin-right:80px;
  	float: left;
  	font-size:22px;
}
.divwra{
	clear:both;
	padding-top:20px;
	border:5px solid white;
	border-radius:12px;
	background:white;
	width:100%;
}
ul li{
list-style-type:none;
}
.li2{
	width:100%;
	height:40px;
}
.divwra1{
	clear:both;
	margin-top:20px;
	border:5px solid white;
	border-radius:16px;
	background:white;
	width:80%;
}
.imgdiv{
	float:left;
	/* width:100px; */
}
.quediv{
	padding-left:40px;
}
.footerdivd{
	font-size:12px;
	color:#cfcfcf;
}
.ansdiv{
	clear:both;
	border:5px solid white;
	border-radius:16px;
	background:white;
	width:80%;
}