@CHARSET "UTF-8";
.wra1{
	background:#f4f4f4;
}
.header{
	padding-top:20px;
	bakcground-color:red;
	border:5px solid white;
	border-radius:12px;
	background-color:white;
	width:70%;
}
.divul{
	width:100%;
	height:40px;
}
.ul1{ 
	list-style-type:none;
}
.li1 {
	margin-right:80px;
  	float: left;
  	font-size:22px;
}