@CHARSET "UTF-8";
/* stu模块 */
.div1{
	background-image:url("../images/login(1).jpg");
	width:100%;
	height:600px;
}
.header {
	width:100%;
	height:70px;
    margin: 0 auto;
    overflow: hidden;
    background: #FFF;
}
table{
	border-collapse:collapse;
	background-color:white;
}
table .trc{
	font-size:12px;
}
.wra1{
 	float:right;
 	padding-top:130px;
 	padding-right:80px;
}
button{
	button
}
table .wrath{
	background-color:#dbdbdb;
}
table .tr1{
	background-color:#e3e3e3;
}
.input1{
	width:220px;
}
img{
	width:220px;
	height:40px;
}
.footer-box {
    width: 100%;
    background: #FFF;
}
