@CHARSET "UTF-8";
.div1{
	background-image:url("../images/login(1).jpg");
	width:100%;
	height:600px;
}
.header {
	width:100%;
	height:70px;
    margin: 0 auto;
    overflow: hidden;
  	background:#f4f4f4;
}
table{
	border-collapse:collapse;
	background-color:white;
}
table .trc{
	font-size:12px;
}
.wra1{
 	float:right;
 	margin:100px auto;
 	border-radius: 15px;
 	background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
}
button{
	button
}
table .wrath{
	background-color:#dbdbdb;
}
table .tr1{
	clear:both;
	background-color:#e3e3e3;
	padding-top:16px;
}
.input1{
	width:220px;
}
img{
	width:110px;
	height:20px;
}
.footer-box {
    width: 100%;
    background: #FFF;
}
.label1{
	font-size:12px;
}

