@CHARSET "UTF-8";
.wra1{
	background:#f4f4f4;
}
.divwra1-left{
	clear:both;
	margin-top:30px;
	background:white;
}
.divwra1-right{
	clear:both;
	margin-top:30px;
	background:#d2d2d2;
}
.divwra1-right-div1{
	clear:both;
	width:94%;
	padding-left:20px;
}
.infoLabel {
    width: 85px;
    height: 35px;
    background: #008573;	
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    color: white;
    margin-left:-39px;
}